*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkcyan;
}

.container {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    margin: 10% auto;
}
.container .bg {
    padding: 20px;
    width: 10%;
}
.photo {
    width: 20%;
}
.photo img{
    width: 100%;
}
.text{
    text-align: center;
}
.star {
    position: relative;
    font-size: 30px;
}
.text h1{
    color: white;
    font-size: 50px;
    margin: 10% auto;
}
.text span{
    font-size: 30px;
}
.star::after {
    content: "";
    width: 100%;
    height: 100%; 
    background-color: aliceblue;
    position: absolute;
}